/**
 *
 * Author : Diego (SanicSquirtle420)
 * Github : @sanicsquirtle420
 * 
 * Juno Colors
 **/

* {
    background:     #1c1e21FF;
    background-alt: #4a4188FF;
    foreground:     #ffffffFF;
    selected:       #f69afaFF;
    active:         #d1abe9FF;
    urgent:         #F28FADFF;
}
