// Aqua Theme created by SanicSquirtle420
// https://github.com/sanicsquirtle420

* {
	color1: #312c3873 ;
	color2: #776690 ;
	color3: #add8e6;
	black: #000000 ;
	white: #FFFFFF ;
}

// color1 - darker purple (75% transparent)
// color2 - purple
// color3 - blue
